# ignore emacs temp files
*~
\#*\#

# python files
*__pycache__
# API
utils/kw_config.txt

# ignore everything in data folder
data/*
# ignore local exports
exports/*
# exception
!data/README.md

scraping/*.csv
scraping/edgedriver

.vscode/*



